RewriteEngine On
RewriteCond %{HTTP_HOST} ^lucakl\.dk [NC]
RewriteRule ^$ https://www.lucakl.dk/index.html [L,R=301]

# Allow CORS from www.lectio.dk
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "https://www.lectio.dk"
    Header set Access-Control-Allow-Methods "GET, POST, OPTIONS"
    Header set Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Accept"
</IfModule>