/* Reset */
*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html{
    overflow-x: hidden ;
}
body{
    overflow-x: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* Reset */

/* Variable farver */
:root{
    /* Nav */
    --nav-green: #53806A;
    --nav-links: #fff;
    --nav-green-see-through: #53806acc;
    --nav-links-hover: #b2b2b2;
    /* Nav */

    --lyserød-kasse: #ffa6b692;
    --lyserød-knap: #FFA6B7;
}


/* Footer */

footer{
    padding: 15px;
    background: var(--nav-green);
    color: var(--nav-links);
    
}


.footer_kontakt ul {
    list-style-type: none; /* Fjerner default list style */
    padding: 0;
    margin: 13px 0;

}

.footer_kontakt ul li {
   display: flex;   /*  iconer og text alignes  */
    align-items: center; /* Align items vertically */
    margin-bottom: 15px; /* Tilføjer space between each list item */ 
}

.footer_kontakt ul li img {
    margin-right: 7px; /* Add space between the image and the text */
}

.footer_SoMe{
    text-align: center;
    padding: 0px;
}

.footer_SoMe img{
    margin-top: 10px;
    margin: 19px;
}

.copyright{
    text-align: center;
    font-size: small;
    margin-top: 40px;
}

@media screen and (min-width: 500px) {
   
    footer{
        display: grid;   
       grid-template-areas: 
       "footer_kontakt . footer_SoMe"
       ". copyright ."
       ;
    }

    .footer_kontakt {
      grid-area: footer_kontakt;
      margin: 20px;
    }
  
    .footer_SoMe {
      grid-area: footer_SoMe;
      margin-top: 10px;
      padding: 0;
    }

    .copyright{
        grid-area: copyright;
        margin-top: -10px;
    }
}

/* Footer */