/* Reset */
*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html{
    overflow-x: hidden ;
}
body{
    overflow-x: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* Reset */

/* Variable farver */
:root{
    /* Nav */
    --nav-green: #53806A;
    --nav-links: #fff;
    --nav-green-see-through: #53806acc;
    --nav-links-hover: #b2b2b2;
    --nav-progress: linear-gradient(to right, #A1D3FF, #A6FFD4);
    --nav-progress-baground: #3c5d4d;
    /* Nav */

    /* header */
    --header-text: #fff;
    --gradiant-overlay: linear-gradient(to right, #53806aa4 40%,#53806a00);
    --arrow-color:#ffffffbf;
    /* header */

    /* Main */
    --baground-color: rgba(255, 166, 182, 0.24);
    --main-text-color: #000;
    /* Main */

    /* Kontakt */
    --kontakt-bagrund: #53806A;
    --kontakt-text-color: #fff;
    --kontakt-baground-some: #80535B;
    --kontakt-placeholder-form-text-color: #ffffff;
    --kontakt-submit-button: #FFA6B7;
    --Placeholder-not-filled: red;
    /* Kontakt */
    
    /* Spilleside */
    --terning-text-color: #fff;
    /* Spilleside */

    /* Klasser */
    --klasser-aktiv: violet; 
    /* Klasser */

    /* Knapper */
    --forklare-knap: #A1D3FF;
    --forklare-knap-hover: #A1D3FF;
    --forklar-knap-tekst-color:rgb(255, 255, 255);
    --videre-knap: #ffa6b6;
    --videre-knap-hover: #ffa8b8;
    /* Knapper */

    /* Vision */
    --icon_baggrund: #ffa6b6dc ;
    /* Vision */

    /* Footer */
    --footer-green: #53806A;
    --footer-credits: #3c5d4d;
    --footer-color: #fff;
    /* Footer */

    /* Popup */
    --popup_baground-color: #616161;
    --X-color: #fff;
    --popup-text-color: #fff;
    /* Popup */
}

/* Navbar Start*/
nav{
    z-index: 1;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background: var(--nav-green);
    position: fixed;
    top: 0px;
    transition: top 0.5s;
}
.navbar_indhold{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* Logo */
.logo{
    z-index: 2;
    position: relative;
    height: 50px;
    width: 100px;
    overflow: hidden;
}
.logo img{
    height: 100%;
    width: 100%;
}
/* Logo */

/* icon */
.nav_burgerbar_icon{
    z-index: 2;
}
.nav_burgerbar_icon svg{
    width: 40px;
    height: 40px;
    color: #fff;
}
.nav_burgerbar_icon svg path{
    transition: d 0.5s;
}
/* icon */

.Nav_links{
    display: flex;
    align-items: center;
}

.nav_liste_box{
    background: var(--nav-green-see-through);
    height: 100vh;
    width: 80%;
    z-index: 1;
    position: fixed;

    /* Hvor den skal ligge */
    transition: left ease 1s;
    top: 0;
    left: 100%;
}

.Nav_liste{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    padding-left: 30px;
    font-size: larger;
    font-weight: 600;
}
.Nav_liste li{
    list-style-type: "- ";
    color: var(--nav-links);
    text-align: center;
    text-align: left;
}
.Nav_liste li a{
    color: var(--nav-links);
    text-decoration: none;
    transition: color 0.5s;
}

@media screen and (min-width: 600px){
    /* Logo */
    .logo{
        width: 50px;
    }
    .logo img{
        width: 200%;
    }
    /* Logo */

    .nav_burgerbar_icon{
        display: none;
    }
    .nav_liste_box{
        position: unset;
        height: auto;
        width: fit-content;
    }
    .Nav_liste{
        margin: 0;
        flex-direction: row;
        gap: 20px;
    }
    .Nav_liste li{
        list-style-type: none;
    }
    .Nav_liste li a:hover{
        color: var(--nav-links-hover);
        transition: color 0.5s;
    }
}
@media screen and (min-width: 700px){
    /* Logo */
    .logo{
        width: 100px;
    }
    .logo img{
        width: 100%;
    }
    /* Logo */
}

/* User journey Start*/
.progressbar{
    z-index: 1;
    top: 70px;
    width: 100%;
    height: 7px;
    position: fixed;
    transition: top 0.5s;
    background: var(--nav-progress-baground);
}
.filled{
    width: 0%;
    height: 100%;
    background: var(--nav-progress);
    transition: width 0.1s;
}
/* User journey Slut*/
  
/* Navbar Slut*/

/* Header Start*/
header{
    z-index: 0;
    padding-top: 50px;
    width: 100%;
    height: 97vh;
    position: relative;
    background-color: var(--nav-green);
    color: var(--header-text);
}
.headerimg{
    width: 100%;
    height: 100%;
    padding: 25vh 0 0 10px;
    background: var(--gradiant-overlay) ,url(img/Cover.webp);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.headerimg div{
    display: flex;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: 20px;
}
.headerimg div svg{
    color: var(--arrow-color);
    width: 50px;
    transition: color 0.5s;

    animation: jump 4s infinite;
}

.header_underside{
    padding: 20vh 0 0 10px;
    background: var(--gradiant-overlay) ,url(img/Cover.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
}

@keyframes jump {
    0%, 10%, 30%, 60%, 100% {
      transform: translateY(0);
    }
  
    20% {
      transform: translateY(-20px);
    }
  
    40% {
      transform: translateY(-10px);
    }
}

@media screen and (min-width: 600px) {
    .headerimg, .header_underside{
        background: var(--gradiant-overlay) ,url(img/cover_pc.webp);
        background-size: cover;
    }
    .headerimg div svg{
        width: 70px;
    }
}
/* Header Slut */

/* Content Start*/
main{
    height: fit-content;
    width: 100%;
    color: var(--main-text-color);
}
section{
    width: 100%;
    padding: 10px;
}
.images{
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
}
.images img{
    width: 100%;
    border-radius: 6px;
}
.main_lise{
    padding-left: 20px;
}
.forklarings_knapper{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 20px;
}
.forklare_knap{
    border-radius: 6px;
    padding: 10px;
    background: var(--forklare-knap);
    transition: 0.5s;
    cursor: pointer;
    color: var(--forklar-knap-tekst-color);
}
.forklare_knap:hover{
    margin-top: 0;
    transition: 0.5s;
    background: var(--forklare-knap-hover);
}
.forviret{
    margin-top: 10px;
}
.videre_knap{
    text-decoration: none;
    padding: 10px;
    border-radius: 6px;
    background: var(--videre-knap) ;
    transition: 0.5s;
    cursor: pointer;
    margin-bottom: 7px;
}
.videre{
    display: flex;
    justify-content: center;
    padding: 10px;
}


/* Guide */
.guide{
    display: flex;
}
.guide_text{
    padding: 10px;
    height: fit-content;
    display: flex;
    flex-direction: column;
}
.guide_list{
    padding-left: 20px;
}
.guide_side_img, .guide_side_empty{
    display: none;
}
.main_content{
    margin-bottom: 10px;
}
/* Guide */

.pink_bagrund{
    background: var(--baground-color);
}

/* videre Knap */
.knap{
    display: flex;
    justify-content: center;
    padding: 40px;
}
.knap a{
    padding: 20px;
    color: var(--main-text-color);
    text-decoration: none;
    background: var(--videre-knap);
    border-radius: 6px;
    font-weight: 600;
    transition: 0.5s;
}
.knap a:hover{
    transition: 0.5s;
    background: var(--videre-knap-hover);
}
/* videre Knap */

@media screen and (min-width: 700px){
    /* Guide */
    .guide{
        margin-top: 10px;
    }
    .guide_text{
        border-radius: 6px;
        width: 70%;
    }
    .guide_side_img{
        display: flex;
        justify-content: center;
        width: 30%;
        padding: 10px;

    }
    .guide_side_img img{
        max-height: 242px;
    }
    /* Guide */

    .forklare_knap{
        margin-top: 10px;
    }
    .forklare_knap:hover{
        margin-bottom: 10px;
        margin-top: 0;
    }
    .divider{
        display: flex;
        gap: 20px;
    }
    .images{
        width: 50%;
    }
    .main_content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
        margin: 0;
    }
    .main_text h2{
        margin-bottom: 10px;
        width: 75%;
    }
    .forviret h3{
        margin-bottom: 10px;
    }

    .column_2{
        column-count: 2;
    }
}

@media screen and (min-width: 1024px){
    .divider{
        gap: 50px;
    }
    .images{
        width: 50%;
    }
    .main_content{
        width: 50%;
    }
    .forviret h3{
        text-align: center;
    }
    .forklarings_knapper{
        justify-content: space-evenly;
    }

    /* Guide */
    .guide_text{
        width: 40%;
    }
    .guide_side_empty{
        display: block;
        width: 30%;
    }
    /* Guide */
}

/* byg din karakter Start*/
 
.hvad_er_klasser .race{
    padding: 20px 20px 20px 0;
}

.klasser{
    display: grid;
    gap: 10px;
    padding-bottom: 10px;
    grid-template-areas: 
    "Barbarian Bard Cleric Druid"
    "Fighter Monk Paladin Ranger"
    "rogue Sorcerer Warlock Wizard"
    ;
}
.klasser img{
    max-width: 100px;
    height: auto;
}
.klasser .ikon{
    min-width: 50px;
    background-color: #fff;
    border-radius: 6px;
    padding: 20px 10px 10px 10px;
    text-align: center; 
    cursor: pointer;
    transition: 0.5s;
}
.klasser .ikon:hover{
    background-color:#ffa6b6;
}
.klasser .ikon p{
    font-weight: 600;
    letter-spacing: 0.5px;
}

.active{
    background-color: var(--klasser-aktiv) !important;
}

.karakter_indhold .kasse{
   padding: 20px;
}
.karakter_indhold p{
    padding-bottom: 25px;
}
.bygkarakter_overskrift{
    padding: 20px 0 10px 0;
}
@media screen and (min-width:700px) {
    .karakter{
        display: flex;
        gap: 20px;
    }
    
    .ikon{
       width: 75px;
    }
    .klasser{
        min-width: 400px;
    }
   
}

@media screen and ( min-width:1120px) {
    .ikon{
        width: 125px;
    }
}
/* byg din karakter slut*/

/* Vores Vision start*/

.visionside{
    height: fit-content;
    background: var(--icon_baggrund);
    color: var(--kontakt-text-color);
    padding: 30px 0;
}

.visionside h2{
    padding: 10px;
    text-align: center;
}

.vores_vision_content{
    border-top: solid 10px var(--icon_baggrund);
    padding: 20px ;
}

.vores_vision_content h1{
    padding-bottom: 20px;
    text-align: center;
}

.vores_vision_content p{
    border-top: solid 3px var(--icon_baggrund);
    padding: 20px ;
}

.visionside div{
    display: flex;
    justify-content: space-evenly;
}
.SoMe_iconer_visionside_top a img, .visionside_icon a img{
    width: 60px;
}

@media screen and (min-width: 800px) {
    .vision_container { 
        display: grid;
        grid-template-columns: 1fr 1fr; /* Two equal columns */
        grid-gap: 20px; /* Gap between the columns */
    }
    
    .vores_vision_content {
        grid-column: 1 / 2; /* Span from the first column to the second column */
    }
    
    .vision_image_container {
        border-top: solid 10px var(--icon_baggrund);
        grid-column: 2 / 3; /* Span from the second column to the third column */ 
        text-align: center; /* Center the image horizontally */
    }
    
    .vision_image_container img {
        max-width: 100%; /* Ensure the image does not exceed its container */
        display: block; /* Remove any extra spacing */
        margin: 0 auto; /* Center the image within its container */
    }
}

@media screen and (max-width: 800px) {
.vision_image_container{
    display: none;
}

}
.vision_foot_content{
    padding: 30px;
}
/* Vores Vision slut*/

/* spilleside start*/
.terninger{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;

    overflow-y: hidden;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}
.terning{
    scroll-snap-align: start;
    position: relative;
    padding: 0 10px;
    cursor: pointer;
}
.terning p{
    transition: 0.5s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--terning-text-color);
    font-weight: 600;
    padding-bottom: 5px;
    font-size: 1.5em;
}
.terning img{
    width: 100px;
    transition:ease-in-out 0.5;
}

.spilside_bund{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.spilside_buttom{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.Buttom_img img{
    width: 100%;
    border-radius: 6px;
}

@media screen and (min-width: 700px){
    .terning img{
        width: 150px;
    }

    .spilside_buttom{
        display: flex;
        flex-wrap: nowrap;
    }

    .Buttom_img, .Buttom_tekst{
        width: 50%;
    }

    .spilside_top div{
        display: flex;
        gap: 20px;
    }
    .spilside_top div p{
        width: 50%;
    }
}
/* spilleside slut*/
/* Kontakt start*/
.kontaktside{
    height: fit-content;
    background: var(--kontakt-bagrund);
    color: var(--kontakt-text-color);
    padding: 75px 0;
}
.kontaktside div{
    display: flex;
    justify-content: space-evenly;
}
.SoMe_iconer_kontaktside_top a img, .kontaktside_icon a img{
    width: 50px;
}
.formel{
    padding: 100px 10%;
    flex-direction: column;
}
.formel form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.formel form input, .formel form textarea{
    width: 100%;
    max-width: 600px;
    padding: 10px;
    border-radius: 6px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.formel form textarea{
    height: 100px;
}
.formel form input::placeholder, .formel form textarea::placeholder, .formel form label::placeholder{
    color: var(--kontakt-placeholder-form-text-color);
}
.formel form label{
    font-weight: 600;
    font-size: 1.2em
}

.submit{
    /* Virker ikke uden important, har prøvet at rykke den ned */
    width: 100px !important;
    background-color: var(--kontakt-submit-button);
    font-weight: 600;
    cursor: pointer;
    text-align: center;
}
.SoMe_iconer_kontaktside_bund{
    flex-direction: column;
    gap: 20px;
}
.kontaktside_icon{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--kontakt-baground-some);
    text-align: center;
}
a{
    text-decoration: none;
    color: var(--kontakt-text-color);
}
@media screen and (min-width: 700px){
    .formel form{
        width: 600px;
        margin: 0 auto;
    }
    .SoMe_iconer_kontaktside_bund{
        flex-direction: row;
    }
    .kontaktside_icon{
        background: none;
    }
    .SoMe_iconer_kontaktside_top a img, .kontaktside_icon a img{
        width: 70px;
    }
}

/* Når felt i kontakt-formen ikke er fyldt */
.not_filled::placeholder{
    color: var(--Placeholder-not-filled) !important;
}
.message_to_user{
    height: 84px;
}
/* Kontakt slut*/
/* Content Slut*/

/* footer Start*/
footer{
    width: 100%;
    background: var(--footer-green);
    color: var(--footer-color);
}
.footer_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    gap: 20px;
}
.SoMe_iconer{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.SoMe_iconer a img{
    width: 40px;
}
.footer_kontakt{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.footer_kontakt ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer_kontakt ul li img{
    width: 20px;
    margin-right: 10px;
}
.footer_content div{
    width: 100%;
}
.copyright{
    display: flex;
    justify-content: center;
    background: var(--footer-credits);
    padding: 10px;
}
@media screen and (min-width: 700px){
        /* footer */
        .footer_content{
            flex-direction: row-reverse;
            justify-content: space-between;
        }
        .footer_content div{
            width: 50%;
        }
        /* footer */
}
/* footer */

/* Popup start*/
.popup{
    position: fixed;
    height: fit-content;
    width: 80vw;
    background: var(--popup_baground-color);
    z-index: 5;
    padding: 20px;

    top: 150%; /* Gå til 50% */
    left: 50%; 
    transform: translate(-50%, -50%);
    transition: 1s;
    border-radius: 6px;
}
.popup h1{
    color: var(--popup-text-color);
    letter-spacing: 1px;
}
.popup svg{
    width: 32px;
    height: 32px;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 6;
}
.popup svg path{
    fill: none;
    stroke: var(--X-color);
    stroke-miterlimit: 10;
    stroke-width: 4px;
}
.popup video{
    margin-top: 10px;
    width: 100%;
    border-radius: 6px;
}
/* Popup slut*/

/* Stop */
/* Mest for text */
@media screen and (min-width: 1120px) {
    .stop_early{
        width: 1120px;
        margin: 0 auto;
    }
}
/* Genneral stop */
@media screen and (min-width: 1920px) {
    .stop{
        width: 1920px;
        margin: 0 auto;
    }
    .stop_hight{
        height: 80vh;
    }
}